* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

body {
    background-color: #f3f4f6;
    padding: 40px 80px;
}


/* Main section */
.main {
  background: #f4f5f7;
  margin: 20px;
  padding: 24px;
  border-radius: 14px;
}

.main h2 {
  text-align: center;
  margin-bottom: 10px;
}
.text{
  text-align: center;
  margin-bottom: 10px;
  font-size: medium;
}
.container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    gap: 20px
}
.card{
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}
.card-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.icon{
     width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-top button {
   padding:  8px;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 8px;
}


.company{
    font-size: 14px;
    color:black;
    margin-bottom: 5px;
}

.days{
    font-size: 12px;
    color: #777;
    margin-left: 5px;
}
.role{
    font-size: 18px;
    font-weight:500;
    margin-bottom: 10px;
}
.tag{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.tag span{
    font-size: 12px;
    background: #f1f1f1;
    color: #777;
    border-radius: 20px;
    white-space: nowrap;
    padding: 5px 10px;
}
.card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e5e7eb;
    padding-top: 14px;   
    margin-top: 14px; 
}
.price{
    font-size: 16px;
    font-weight: 500;
    color: #333;
}
.location{
    font-size: 12px;
    color: #777;
}
.apply{
    background: black;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}
/* Tablet */
@media (max-width: 768px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }

  body {
    padding: 20px;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .container {
    grid-template-columns: 1fr;
  }

  body {
    padding: 16px;
  }
}
